<h1>Welcome to Spirit Animal App!</h1>
<br>
<h2>Create a Spirit Animal</h2>

<%= simple_form_for(@spirit_animal) do |f| %>
  <%= f.input :name %>
  <%= f.submit %>
<% end %>

<br>

<h2>Your Spirit Animals</h2>

<ul>
  <% @my_spirit_animals.each do |spirit_animal| %>
   <li><%= spirit_animal.name %></li>
  <% end %>
</ul>

<!-- if current user = admin user display -->

<!-- admins_spirit_animals -->

<h2>Admins' Spirit Animals</h2>
<ul>
  <% @spirit_animals.each do |spirit_animal| %>
   <li><%= spirit_animal.name %> - by <%= spirit_animal.user.email %></li>
  <% end %>
</ul>

<!-- if current user = admin user display -->

<!-- regular_users_spirit_animals
 -->
<h2>Regular Users' Spirit Animals</h2>
<ul>
  <% @spirit_animals.each do |spirit_animal| %>
   <li><%= spirit_animal.name %> - by <%= spirit_animal.user.email %></li>
  <% end %>
</ul>
